<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <title>Users list</title>
</head>
<body>
<div class="container">
    <div th:replace="/fragments/fragments.html::menu"></div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>login</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Aktywny</th>
            <th>Rola</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${users}">
            <td th:text="${user.login}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.active}"></td>
            <td th:text="${user.role?.name}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{'/mvc/users/' + ${user.id}}">Edytuj</a>
                <a class="btn btn-danger" th:href="@{'/mvc/users/delete/' + ${user.id}}">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>